#BookDisplay {
  display: flex;
  position: relative;
  width: 90%;
  margin: 30px auto 50px;
  backdrop-filter: blur(1.5px);
}

#BookDisplay-category {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  margin: 0;
  padding: 0;
  background-color: rgba(125, 76, 113, 0.438);
  border-radius: 15px 0 0 15px;
}

.BookDisplay-categoryList {
  width: 100%;
  padding: 10px 0 10px 0;
  color: white;
  font: 18px 微软雅黑;
  user-select: none;
  text-align: center;
  list-style-type: none;
  transition: all 0.1s;
}

#BookDisplay-categoryList-first {
  border-radius: 15px 0 0 0;
}

.BookDisplay-categoryList:hover {
  background-color: rgba(214, 151, 200, 0.438);
  cursor: pointer;
}

.BookDisplay-categoryList-active {
  background-color: rgba(144, 133, 210, 0.438);
}

#BookDisplay-bookPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(168, 101, 152, 0.2);
  border-radius: 0px 10px 10px 0;
}

#BookDisplay-pageShift {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.BookDisplay-pageShift-button {
  margin: 0 10px;
  border: none;
  background-color: rgba(0,0,0,0);
  color: rgb(180, 180, 180);
  font: 15px 微软雅黑;
}

.BookDisplay-pageShift-button:hover {
  color: rgb(207, 203, 255);
  cursor: pointer;
}

.BookDisplay-pageShift-button:active {
  color: rgb(178, 172, 255);
  cursor: pointer;
}

#BookDisplay-pageShift-text {
  color: rgb(255, 255, 255);
  font: 15px 微软雅黑;
}

#BookDisplay-bookList {
  width: 100%;
}

.BookDisplay-bookLine {
  width: 96%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 20px;
  content: normal;
}

.BookDisplay-book {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 250px;
  margin: 20px auto;
  border: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.237);
  list-style: none;
  transition: all 0.1s;
}

.BookDisplay-book:hover {
  box-shadow: 0 0 4px 2px white;
  cursor: pointer;
  transform: scale(1.02);
}

.BookDisplay-book-cover {
  width: 120px;
  height: 172px;
  margin: 10px auto;
  border: 0;
  border-radius: 3px;
  box-shadow: -1.5px 1.5px 2.5px 2px black;
}

.BookDisplay-book-title {
  text-align: center;
  margin: auto 0;
  padding: 0 12px;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  color: rgb(0, 255, 64);
  font: 15px 微软雅黑;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BookDisplay-book-author-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.BookDisplay-book-author {
  flex-grow: 1;
  text-align: center;
  color: rgb(4, 0, 255);
  font: 12px 微软雅黑;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BookDisplay-book-price {
  min-width: 45px;
  text-align: center;
  color: rgb(255, 0, 0);
  font: 12px 微软雅黑;
  overflow: hidden;
}

/* home.css */

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
